* {
  margin: 0;
}

.page-signo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;  
  width: 100%;
  align-items: center;
  
  background-image: url(https://www.rbsdirect.com.br/imagesrc/24943071.jpg?w=700);
  background-repeat: no-repeat;
  background-size: 100%;

  padding: 2em;
}

.page-acai{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;  
  width: 100%;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  
  background-image: url(https://img.freepik.com/fotos-premium/acai-homem-segurando-uma-tigela-de-sorvete-de-acai-congelado-brasileiro-com-frutas-na-mesa-de-madeira-vista-frontal-do-menu-de-verao_317399-584.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: 100%;

  padding: 2em;
}

.page-acai h1 {
  margin-bottom: 2em
}

.page-acai button {
  padding: 4px;
  font-size: 20px;
  letter-spacing: 1.5px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  color: #ffffff;
}

.page-acai button:hover {
  transition: 1s;
  background-color: blueviolet;

}

.page-acai input {
  padding: 5px;
  letter-spacing: 1px;
}

.page-grama{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;  
  width: 100%;
  align-items: center;
  
  background-image: url(https://a3.vnda.com.br/ortoponto/2019/07/16/supermbal-balanca-digital-para-controle-de-peso-supermedy-7369.jpg?v=1563310635);
  background-repeat: no-repeat;
  background-size: 80%;

  padding: 2em;
}